<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simello.guanxy" >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">
        <activity
            android:name=".GuanxyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PuntiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />

        <activity android:name=".GuidaActivity"
            android:label="Guanxy"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ChiediAiuto"
            android:label="Guanxy"
            android:screenOrientation="portrait"
            android:parentActivityName=".GuanxyActivity"
            />

        <activity android:name=".AiutaGliAltri"
            android:label="Guanxy"
            android:screenOrientation="portrait"
            android:parentActivityName=".GuanxyActivity"
            />

    </application>

    <!-- Permessi -->
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
